*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #e91e63 ,#fffde7);
  background-image: url('image.png');
  
  background-repeat: no-repeat;
  background-size: cover;
 

}

.imgbx{
  position:inherit;
  width: 700px;
  height: 450px;
  position: absolute;
  top:0;
  object-fit:contain;
}
.player audio{
  width:50%;
  outline:none;
  
}
.music{
  position: absolute;
  margin-bottom: -510px;
  width: -10000px;
  margin-top: -100px;
  margin-right: 200px;
}
.topic{
  font-size: 1.5rem;
  font-style: inherit;
  padding-left: 4rem;
  margin-bottom: -310px;
  margin-right: 200px;
  color: rgb(13, 15, 15);
}
.box{
  height: 90vh;
  width:52%;
  border-radius: 0.5rem;
  margin-top: 6rem auto;
  box-shadow: 0 0 10px 1px rgba(63, 202, 160, 0.973);
  display: flex;
  justify-content: right;
  align-items: center;
  filter: blur(0.004rem);
}